---
layout: default2
---

<main class="main-content fadeInDown delay_075s" style="max-width: 1600px; margin: 0 auto;">


  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check2" viewBox="0 0 16 16">
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path
          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        <path
          d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path
          d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
      </symbol>
    </svg>

   

    <main id="mainentrance" class="container" style="max-width: 1900px;">

    
<div class="container " style="max-width: 100%; padding: 10px;">
  <div class="row ">
    <div >
      <div class="custom-container " style="width:100%">
        <img src="/img/PRES2.png" alt="Your Image"  class="img-wrap">
        <p>
          My name is Rafael Cordoba. I am a <em> physicist</em> and <em> matematician</em> interested in 
           foundational aspects of QFTs, CFTs, generalized symmetries and quantum
          gravity. Right now I have been exploring the following topics:
        </p>
        <ul>
          <li style="color:white;font-size:16px;">RG flows, CFTs and defects: 
            <ul>
              <li>
Boundaries: Topic of my <a hef="/ICTP-diploma" class="btn-sm btn-secondary rounded-pill">diploma project</a> with
  Agnese.
              </li>
                </li>
              <li>
  Lines: <a href="/RG-flows-and-defects" class="btn-sm btn-secondary rounded-pill">Project </a> with Miguel
            
              </li>
            </ul>
              <li style="color:white;font-size:16px;">Topological quantum field theory (<em>Symmetries and dualities in lattice models, non-invertible symmetries and gauging,Knots and CS as a quantum
              gravity theory</em>),</li>
          <li style="color:white;font-size:16px;">Algebraic quantum field theory (<em>Notes on AQFT, the Unruh effect
              and measurements in quantum field theory
              <a href="./PhysicsThesis" class="btn-sm btn-secondary rounded-pill">here</a></em>) </li>
        </ul>
        <a href="\notes" class="btn-sm btn-secondary rounded-pill">Click here</a> to find some lecture notes and pdfs on topics I have been atracted to.
        <p>
          Currently I am student of the École Normale Supérieure (ENS)– PSL in Paris, France. 
          
         
        </p>
            <p>
              <a href="\personal" class="btn-sm btn-secondary rounded-pill">Click here</a>
              to see what I been up to (non-academia).
            </p>
      </div>
    </div>
  </div>
</div>
   

  


 


      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              News!
              <h3 class="mb-0">Internship: Bootstrapping gauge theories</h3>
              <div class="mb-1 text-body-secondary">Apr 12</div>
              <p>We continue the exploration of the "Bootstrapping gauge theories" program. 
              We found an improvement of the bootstrap and identify the exact S-Matrix for the pion-pion scattering.
             
              Results can be found <a href="/BGT" >here</a>.
              </p>
            </div>
          <!--
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em"> </text>
                  
              </svg>
            </div>
            -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              Schools and Workshops
              <h3 class="mb-0">2024 IHES Summer School: Symmetries and Anomalies: a Modern Take</h3>
              <div class="mb-1 text-body-secondary">Jul 01</div>
              <p>Courses on Generalized Symmetries, anomalies and their relations with high energy, condensed matter and mathematics.
             
              <a href="/IHESsummer" class="stretched-link">Continue reading</a>
              </p>
              <h3 class="mb-0">2024 ICTP Spring School</h3>
              <div class="mb-1 text-body-secondary">Apr 20</div>
              <p class="mb-auto">School on S-Matrix bootstrap, entropy formulas in AdS/CFT, celestial holography and...
                
                Here are some lecture notes and project from Spring School on Superstring Theory and Related Topics </p>
              <a href="\projects" class="stretched-link">Continue reading</a>
            </div>
           
          </div>
        </div>
      </div>

          

<div class="container" style="max-width: 100%;">
  <h3 class="pb-4 mb-4 fst-italic border-bottom">
    Posts and Notes
  </h3>

  <div class="row justify-content-left">
    <div class="col-md-2 hide-on-small-screens" style="min-width: 200px;">
      <div class="position-sticky " style="top: 2rem; width: 100%; min-width: 200px;">
        <div class="p-4 mb-3 bg-body-tertiary hide-on-small-screens2  rounded ">
          <h4 class="fst-italic ">About</h4>
          <p class="mb-0">Hey there! In this page you will find some of my electronic notes in topics related to
            physics or maths... </p>
        </div>
    
        <div class="p-4 ">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0" id="myList">


            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless
            %}{%
            endfor %}{% endcapture %}
            {% assign sortedTags = site_tags | split:',' | sort %}
           

            {% capture site_foos %}
            {% for tag in sortedTags %}
            {% for post in site.tags[tag] %}
            {{ post.date | date: "%Y %m %B"}}
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% endcapture %}
            
            {% assign sortedFoos = site_foos | split:',' |sort |reverse%}
            
            {% capture siteDates %}
            {%for days in sortedFoos %}
            {{ days | split:' ' |slice: 2 | join: "" }}-{{ days | split:' ' |slice: 0 | join: "" }}
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% endcapture %}
            
            
            {% assign siteDates2=siteDates | split:',' %}
            
            {% assign unique_items = '' | split: ',' %}
            {% for item in siteDates2 %}
            {% unless unique_items contains item %}
            {% assign unique_items = unique_items | push: item %}
            {% endunless %}
            {% endfor %}
            {% assign unique_items2 = '' | split: ',' %}

            <div class="accordion accordion-flush mt-4" id="accordionExample">
              {% assign counter = 0 %}
              {%for year in unique_items%}
              {%assign year2=year |split:"-"|slice:1%}
              {% unless unique_items2 contains year2 %}
              <div class="accordion-item">
                <h2 class="accordion-header" id='heading{{counter}}'>
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{counter}}"
                    aria-expanded="false" aria-controls="{{counter}}">
                    {% assign unique_items2 = unique_items2 | push: year2 %}
            
                    {{year2}}
                  </button>
                </h2>
            
                <div id='{{counter}}' class="accordion-collapse collapse" aria-labelledby='{{counter}}'
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
            
                    {%for days in unique_items%}
                    {%assign years3=days |split:"-"|slice:1%}
                    {%assign days2=days |split:"-"|slice:0%}
                    {% unless years3!= year2 %}
                  <li><a href="index.html#postdate{{days| replace: ' ', ''}}">{{days |split: "-"| slice: 0}}
                      </a> </li>
                    {% endunless %}
                    {% endfor %}
                  </div>
                </div>
            
                {% assign counter = counter | plus: 1 %}
                {% endunless %}
            
                {% endfor %}
            
              </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          </ol>
    
        </div>
    
        <div class="p-4">
          <img src="/img/topo.png" alt="Your Image" class="img-wrap">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://scholar.google.com/citations?user=k8blx4cAAAAJ&hl=it&oi=ao">Scholar</a></li>
          </ol>
            <p>Images copyrights:
            I have borrowed many images from various sources. Many references are in the <a href="/projects"> page </a>. 
            </p>
        </div>
      </div>
    </div>


    
    <div class="col-md-8" style="margin-left: 5%; margin-right:auto;">
      {% for post in paginator.posts %}
      <article>
        {% if post.feature_image %}
        <figure class="post-thumbnail">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ post.feature_image | relative_url }}" alt="{{ post.title }}">
          </a>
        </figure>
        {% endif %}

        <h6 class="blog-post-title mb-1" id='postdate{{post.date| date: "%B-%Y"}}' style="font-size: 2em;"  ><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h6>
        <time class="blog-post-meta" datetime="{{ post.date | date: '%Y-%m-%d' }}" >{{ post.date | date: "%B %d, %Y"
          }}</time>

        <div class="post-content">
          {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
          <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link">Continue reading
              &rarr;</a></p>
          {% else %}
          {{ post.content }}
          {% endif %}
          <p><a href="#top" class="archive-top-link">Return to top &uarr;</a></p>
        </div>

      </article>
      {% endfor %}
    </div>
    

  </div>
</div>












<nav class="blog-pagination" aria-label="Pagination">
  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links" style="margin:auto">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="btn btn-outline-secondary rounded-pill">&larr;
        Newer Posts</a>
      {% endif %}

      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="btn btn-outline-primary rounded-pill">Older Posts
        &rarr;</a>
      {% endif %}
    </div>
  </nav>
  {% endif %}

  <p><a href="#" style="position: right;">Back to top</a></p>
</nav>

    </main>






</main><!-- .site-main -->











