<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<div id="loader">
  <div id="load">
    <img alt="roue" src="images/load.gif" />
    <!--div id="cl"> <img alt="lettreC" src="images/clog.png"/></div> -->
  </div>
</div>



<head>
  <script src="/assets/js/color-modes.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'notes.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed"
    href="{{ '/feed.xml' | absolute_url }}">
  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Styles -->
  <style>
    .list-unstyled  {
      max-height: 175px;
      /* Set the maximum height for the list container */
      padding-left: 0%;
      overflow: auto;
      
      /* Enable scrolling for overflow content */
    }
    .list-unstyled2  {
      
      background: linear-gradient(to bottom, transparent, rgb(144, 59, 59));
      /* Enable scrolling for overflow content */
    }
    
    @media only screen and (max-width: 900px) {
  .hide-on-small-screens {
    display: none;
  }
  
}
 @media only screen and (max-height: 500px) {
  .hide-on-small-screens2 {
    display: none;
  }
  
}
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap"
    rel="stylesheet">
  <link href="{{ '/assets/dist/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

  <link href="{{ '/assets/css/style2.css' | relative_url }}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ 'scripts/jquery.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ 'scripts/bouton.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ 'scripts/jquery.parallax-1.1.3.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ 'scripts/jquery.localscroll-1.2.7-min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ 'scripts/jquery.scrollTo-1.4.2-min.js' | relative_url }}"></script>
  <script type="text/javascript">
    $(window).load(function () {
      $('body, html').scrollTop(0);
      $("#loader").fadeToggle({ display: "none" }, "slow");
    });
  </script>

  <!-- Custom styles for this template -->
  <link href="{{ '/assets/css/blog.css' | relative_url }}" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap"
    rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
</head>
























<body>

  {% include header.html %}


<div id="page" class="site">


<main id="mainentrance" class="container fadeInDown delay_05s" style="max-width: 1700px;" >

<div class="row g-5">
  <div class="col-md-8 order-md-2">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{{page.title}}</h1>
        </header><!-- .post-header -->
        <div class="post-content">
          <div class="archive-tags">
            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless
            %}{%
            endfor %}{% endcapture %}
            {% assign sortedTags = site_tags | split:',' | sort %}
            {% for tag in sortedTags %}
            <a href="#{{ tag | cgi_escape }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
            {% endfor %}
          </div><!-- .archive-tag-list -->
          {% for tag in sortedTags %}
          <h2 id="{{ tag | cgi_escape }}">{{ tag }}</h2>
          <ul class="archive-post-list">
            {% for post in site.tags[tag] %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="archive-meta"> — <time
                  class="archive-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d,
                  %Y"
                  }}</time></span></li>
            {% endfor %}
          </ul><!-- .archive-post-list -->
          <p><a href="#top" class="archive-top-link">Return to top &#8593;</a></p>
          {% endfor %}
        </div><!-- .post-content -->
      </article><!-- .post -->
   
  </div>

  <div class="col-md-4 order-md-1 hide-on-small-screens " style="padding: 10px;">
    <div class="position-sticky" style="top: 2rem; ">
      <div class="p-4 mb-3 bg-body-tertiary hide-on-small-screens2 rounded" >
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Hey there! In this page you will find some of my electronic notes in topics related to
          physics or maths.. </p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled  mb-0"  id="myList">

          {% capture site_foos %}
          {% for tag in sortedTags %}
          {% for post in site.tags[tag] %}
          {{ post.date | date: "%Y %m %B"}}
          {% unless forloop.last %},{% endunless %}
          {% endfor %}
          {% unless forloop.last %},{% endunless %}
          {% endfor %}
          {% endcapture %}

          {% assign sortedFoos = site_foos | split:',' |sort |reverse%}

          {% capture siteDates %}
          {%for days in sortedFoos %}
          {{ days | split:' ' |slice: 2 | join: "" }}-{{ days | split:' ' |slice: 0 | join: "" }}
          {% unless forloop.last %},{% endunless %}
          {% endfor %}
          {% endcapture %}


          {% assign siteDates2=siteDates | split:',' %}

          {% assign unique_items = '' | split: ',' %}
          {% for item in siteDates2 %}
          {% unless unique_items contains item %}
          {% assign unique_items = unique_items | push: item %}
          {% endunless %}
          {% endfor %}
          {% assign unique_items2 = '' | split: ',' %}

          <div class="accordion accordion-flush   mt-4" id="accordionExample">
            {% assign counter = 0 %}
            {%for year in unique_items%}
            {%assign year2=year |split:"-"|slice:1%}
            {% unless unique_items2 contains year2 %}
            <div class="accordion-item">
              <h2 class="accordion-header" id='heading{{counter}}'>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#{{counter}}" aria-expanded="false" aria-controls="{{counter}}">
                  {% assign unique_items2 = unique_items2 | push: year2 %}

                  {{year2}}
                </button>
              </h2>

              <div id='{{counter}}' class="accordion-collapse collapse" aria-labelledby='{{counter}}'
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  {%for days in unique_items%}
                  {%assign years3=days |split:"-"|slice:1%}
                  {%assign days2=days |split:"-"|slice:0%}
                  {% unless years3!= year2 %}
                  <li><a href="index.html#postdate{{days| replace: ' ', ''}}">{{days |split: "-"| slice: 0}}
                    </a> </li>
                  {% endunless %}
                  {% endfor %}
                </div>
              </div>

              {% assign counter = counter | plus: 1 %}
              {% endunless %}

              {% endfor %}

            </div>





















        </ol>

      </div>

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://scholar.google.com/citations?user=k8blx4cAAAAJ&hl=it&oi=ao">Scholar</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>



</main>

   
    {% include footer.html %}

  </div>




  <!-- Scripts -->
  {% if site.google_analytics %}
  {% include google_analytics.html %}
  {% endif %}


  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

</body>

</html>







